html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #FFF;
  margin: 0;
  padding: 0; }

.hide {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

div, input, span, audio, video, img, h1, input {
  position: absolute; }

#hscreenTitle div {
  position: relative; }

#host {
  width: 100%;
  height: 100%; }
  #host div {
    position: absolute; }

#player {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: url("../img/mobile/bg.jpg");
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: left top; }
  #player #rotatePhoneScreenWrapper {
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    #player #rotatePhoneScreenWrapper #rotatePhoneScreen {
      width: 1600px;
      height: 900px;
      left: 0px;
      right: 0px;
      margin: auto; }
      #player #rotatePhoneScreenWrapper #rotatePhoneScreen #rotateArrow {
        top: 240px;
        left: 490px; }
      #player #rotatePhoneScreenWrapper #rotatePhoneScreen #rotatePhone {
        left: 800px;
        top: 100px; }
      #player #rotatePhoneScreenWrapper #rotatePhoneScreen #rotateCopy {
        font-size: 85px;
        bottom: 150px;
        left: 50%;
        transform: translate(-50%);
        letter-spacing: 2.1px;
        white-space: nowrap;
        text-shadow: -3px -3px 0 #d46262,   3px -3px 0 #d46262, -3px 3px 0 #d46262, 3px 3px 0 #d46262;
        text-align: center;
        color: #fff; }
  #player #playerScreenWrapper {
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    #player #playerScreenWrapper #playerScreen {
      width: 900px;
      height: 1600px;
      font-family: 'Passion One', cursive;
      color: #fff;
      overflow: hidden; }
      #player #playerScreenWrapper #playerScreen #mobileIntroScreen {
        width: 100%;
        height: 100%; }
        #player #playerScreenWrapper #playerScreen #mobileIntroScreen #connectText,
        #player #playerScreenWrapper #playerScreen #mobileIntroScreen #nameText,
        #player #playerScreenWrapper #playerScreen #mobileIntroScreen #roomNumberText,
        #player #playerScreenWrapper #playerScreen #mobileIntroScreen #roomError {
          font-size: 85px;
          top: 200px;
          left: 50%;
          letter-spacing: 2.1px;
          transform: translate(-50%);
          white-space: nowrap;
          text-shadow: -3px -3px 0 #d46262,   3px -3px 0 #d46262, -3px 3px 0 #d46262, 3px 3px 0 #d46262;
          text-align: center; }
        #player #playerScreenWrapper #playerScreen #mobileIntroScreen #roomError {
          top: 800px;
          color: #F00;
          text-shadow: none;
          font-size: 40px;
          text-align: left;
          left: 50px;
          transform: none; }
        #player #playerScreenWrapper #playerScreen #mobileIntroScreen #roomNumberText {
          top: 580px;
          left: 50px;
          transform: none; }
        #player #playerScreenWrapper #playerScreen #mobileIntroScreen #nameText {
          top: 890px;
          left: 50px;
          transform: none; }
        #player #playerScreenWrapper #playerScreen #mobileIntroScreen #inputRoomId,
        #player #playerScreenWrapper #playerScreen #mobileIntroScreen #inputName {
          width: 800px;
          height: 100px;
          font-size: 85px;
          top: 680px;
          left: 50px;
          font-weight: bold;
          padding-left: 10px; }
        #player #playerScreenWrapper #playerScreen #mobileIntroScreen #inputName {
          top: 980px; }
        #player #playerScreenWrapper #playerScreen #mobileIntroScreen #btnJoinGame {
          left: 50%;
          transform: translate(-50%);
          bottom: 50px; }
      #player #playerScreenWrapper #playerScreen #mobileCharacterScreen {
        width: 100%;
        height: 100%;
        display: none; }
        #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #chooseCharText {
          font-size: 85px;
          top: 200px;
          left: 50%;
          letter-spacing: 2.1px;
          transform: translate(-50%);
          white-space: nowrap;
          text-shadow: -3px -3px 0 #d46262,   3px -3px 0 #d46262, -3px 3px 0 #d46262, 3px 3px 0 #d46262;
          text-align: center; }
        #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #tunnel {
          top: 430px;
          left: 50%;
          transform: translate(-50%); }
        #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #allChars {
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%; }
          #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #allChars .characterWrapper {
            position: relative;
            top: 570px;
            left: 0px;
            width: 308px;
            height: 505px;
            margin: 0px 290px;
            display: inline-block; }
            #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #allChars .characterWrapper .headWrapper {
              left: 50%;
              transform: translate(-50%); }
            #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #allChars .characterWrapper .rightArmWrapper {
              top: 210px;
              left: 226px;
              transform-origin: 50% 10%;
              width: 82px;
              height: 288px; }
            #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #allChars .characterWrapper .leftArmWrapper {
              top: 210px;
              left: 0px;
              transform-origin: 50% 10%;
              width: 82px;
              height: 288px; }
            #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #allChars .characterWrapper .hair {
              left: 50%;
              transform: translate(-50%); }
            #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #allChars .characterWrapper .face {
              left: 50%;
              transform: translate(-50%);
              top: 56px; }
            #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #allChars .characterWrapper .body {
              left: 50%;
              transform: translate(-50%);
              top: 177px; }
            #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #allChars .characterWrapper .leftUpperArm {
              position: absolute; }
            #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #allChars .characterWrapper .leftLowerArm {
              position: absolute;
              top: 150px;
              transform-origin: 50% 0%; }
            #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #allChars .characterWrapper .rightUpperArm {
              position: absolute; }
            #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #allChars .characterWrapper .rightLowerArm {
              position: absolute;
              top: 150px;
              transform-origin: 50% 0%; }
        #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #deskWrapper {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%; }
          #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #deskWrapper .desk {
            position: relative;
            top: 890px;
            left: 265px;
            z-index: 1;
            margin: 0px 540px 0px 0px; }
        #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #btnCreateCharacter {
          left: 50%;
          transform: translate(-50%);
          bottom: 50px; }
        #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #arrowLeft,
        #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #arrowRight {
          top: 50%;
          left: 25px;
          transform: translate(0, -50%);
          z-index: 1; }
        #player #playerScreenWrapper #playerScreen #mobileCharacterScreen #arrowRight {
          left: auto;
          right: 25px; }
      #player #playerScreenWrapper #playerScreen #mobileWaitingScreen {
        width: 100%;
        height: 100%; }
        #player #playerScreenWrapper #playerScreen #mobileWaitingScreen #messageCopy {
          font-size: 85px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          letter-spacing: 2.1px;
          white-space: nowrap;
          text-shadow: -3px -3px 0 #d46262,   3px -3px 0 #d46262, -3px 3px 0 #d46262, 3px 3px 0 #d46262;
          text-align: center; }
          #player #playerScreenWrapper #playerScreen #mobileWaitingScreen #messageCopy span {
            position: relative; }
      #player #playerScreenWrapper #playerScreen #logo {
        left: 50%;
        top: 30px;
        transform: translate(-50%);
        width: 260px; }
  #player #blackOverlay {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000; }
