html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background-color: #FFF;
	margin: 0;
	padding: 0;
}

.hide {
	border:0!important;
    clip:rect(0 0 0 0)!important;
    height:1px!important;
    margin:-1px!important;
    overflow:hidden!important;
    padding:0!important;
    position: absolute!important;
    width:1px!important;
}

div, input, span, audio, video, img, h1{
    position: absolute;
}

h1{
    width: 100%;
    white-space: nowrap;
}
/* Banner Styles */
#game{
    width: 100%;
    height: 100%;
    font-family: 'Passion One', cursive;
    background: url('../img/background.jpg');
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: left top;
    color: #fff;
    overflow: hidden;

    #startScreen{
        width: 100%;
        height: 100%;


        #startGameBtn{
            top: 200px;
            left: 390px;
            width: 100px;
            height: 50px;
            background-color: green;
            color: #fff;
            cursor:pointer ;
            z-index: 2000;
        }

        #name1{
            top: 149px;
            left: 284px;
        }

        #name2{
            top: 286px;
            left: 78px;
        }

        #name3{
            top: 189px;
            left: 36px;
        }

        #name4{
            top: 235px;
            left: 219px;
        }

        #totalPlayers{
            left: 310px;
            top: 320px;
            font-size: 20px;
        }
    }

    #chooseCat{
        width: 100%;
        height: 100%;
        display: none;
        z-index:2000;

        .category{
            position: relative;
            top: 250px;
            left: 50%;
            transform: translate(-50%);
            width: 200px;
            background-color: #ff0000;
            margin: 10px 0px;
            cursor: pointer;
            text-align: center;
            border: 2px dotted #ddc945;
            padding: 5px;
        }

        .category:hover{
            color: #fff;
        }

        h1{
            color: #ff0000;
            top: 160px;
            left: 0px;
            text-align: center;
        }

    }

    #questionScreen{
        display: none;
        width: 100%;
        height: 100%;


            #questionSource{
                top: 50px;
                left: 10px;
            }
            img#questionSource{
                max-height: 200px; 
            }

            #questionSourceText{
                top: 10px;
                left: 10px;
                width: 100%;
            }
    }

    #answerScreen{
        display: none;
        width: 100%;
        height: 100%;

        #answer1,
        #answer2,
        #answer3,
        #answer4,
        #answer5{
            position: relative;
            left: 50px;
            top: 50px;
            margin: 20px 0px;
            text-transform: uppercase;
        }
    }

    #scoreScreen{
        width: 100%;
        height: 100%;
        display: none;

        #scorePlayer1,
        #scorePlayer2,
        #scorePlayer3,
        #scorePlayer4{
            position: relative;
            top: 10px;
            left: 10px;
            display: none;
        }

        #nextQuestion{
            top: 200px;
            left: 390px;
            width: 100px;
            height: 50px;
            background-color: green;
            color: #fff;
        }
    }
    
    #roofWrapper{
        top: 75px;
        left: 0px;
        height: 50px;
        width: 100%;
        background: url(../img/roof_bars.png);
        background-size: auto 100%;

        #light1Wrapper{
            top: -10px;
            left: 70%;
            transform: rotate(40deg);
        }

        #light2Wrapper{
            top: 0px;
            left: 30%;
            transform: rotate(-40deg);
        }

        .lightWrapper{
            width: 178px;
            height: 306px;
            transform: translate(-50%);
            transform-origin: 20px 40px;

            .light{
                top: 0px;
                left: 0px;
            }

            .lightColor{
                top: 47px;
                left: 9px;
                opacity: 0;
            }

            .blue{
                opacity: 0.5;
            }
        }
    }

    #logo{
        left: 50%;
        top: 30px;
        transform: translate(-50%);
        width: 250px;
    }


}

#phone1,
#phone2,
#phone3,
#phone4{
    width: 150px;
    height: 300px;
    background-color: #000;
    bottom: 0px;
    color: #FFF;
}

#phone1{
    left: 0px;

    span{
        top: 10px;
        left: 10px;
    }

    #namePhone1{
        top: 60px;
        left: 10px;
        width: 130px;
    }
}

#phone2{
    left: 200px;

    span{
        top: 10px;
        left: 10px;
    }

    #namePhone2{
        top: 60px;
        left: 10px;
        width: 130px;
    }
}

#phone3{
    left: 400px;

    span{
        top: 10px;
        left: 10px;
    }

    #namePhone3{
        top: 60px;
        left: 10px;
        width: 130px;
    }
}

#phone4{
    left: 600px;

    span{
        top: 10px;
        left: 10px;
    }

    #namePhone4{
        top: 60px;
        left: 10px;
        width: 130px;
    }
}

.mobileSendBtn{
    top: 150px;
    left: 10px;
    width: 130px;
    height: 50px;
    background-color: green;
    cursor: pointer;
}

.waitText{
    left: 55px;
    top: 180px;
}

.phoneQuestionScreen{
    width: 100%;
    height: 100%;
    background-color: orange;
    color: #000;
    font-size: 18px;
    display: none;
}

.phoneAnswerScreen{
    display: none;
    width: 100%;
    height: 100%;
    background-color: red;
    
    .answer1Phone,
    .answer2Phone,
    .answer3Phone,
    .answer4Phone,
    .answer5Phone{
        position: relative;
        left: 10px; 
        margin: 10px 0px 10px 0px;
        cursor: pointer;
        text-transform: uppercase;
    }
}

.answerPhone{
    top: 100px;
    left: 10px;
    width: 130px;
}

//Server

#createGameBtn{
    width:200px;
    height:50px;
    background-color: #FFF;
    color: #000;
    left:35%;
    text-align: center;
    cursor: pointer;
}

#joinGameBtn{
    position: absolute;
    width:200px;
    height:50px;
    background-color: #000;
    color:#fff;
    left:50%;
    text-align: center;
    cursor: pointer;
    bottom:0;
}

#mobileScreen{
    position: absolute;
    width:100%;
    height:80%;
}
#mobileStartScreen{
    position: absolute;
    width:100%;
    height:100%;
}


.inputLabels{
    width:200px;
    height:50px;
    color:#fff
}
.inputFields{
top:20px;
}

#RoomIDInputLabel{
    top:50px;
}

#joinRoomId{
    top:80px;
}

#roomID{
    color:#FFF;
    font-size: 25px;
    right:0;
}

#createCharacterBtn{
    position: absolute;
    width:200px;
    height:50px;
    background-color: #000;
    color:#fff;
    left:50%;
    text-align: center;
    cursor: pointer;
}

#createCharacterScreen{
    width:100%;
    height:100%;
}